[submodule "Pio/vendor/spdlog"]
	path = Pio/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pio/vendor/GLFW"]
	path = Pio/vendor/GLFW
	url = https://github.com/GittyGrubHub85/glfw
[submodule "Pio/vendor/imgui"]
	path = Pio/vendor/imgui
	url = https://github.com/GittyGrubHub85/imgui
